

    /*.bg{
        background: radial-gradient(#905779 5%,#fff 100%);
    }*/
page-resource {
.bg-image
{
background-image: url('../assets/imgs/bg.png');
background-repeat: no-repeat;
background-size: contain;
background-position: center;


}
h6 {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: 21VW;
}
#l2{
  margin: 0;
  width: 29VW;
  height: 40px;
}
.toolbar-content.toolbar-content-md{
  height: 87px;
padding-top: 25px;
}
}

.restabs
{

    margin-top: -60px;

}
