
    
    /*.bg{
        background: radial-gradient(#905779 5%,#fff 100%);
    }*/
page-resource {
.bg-image
{
background-image: url('../assets/imgs/bg.png');
background-repeat: no-repeat;
background-size: contain;
background-position: center;


}

}

.restabs
{
    
    margin-top: -60px;
    
}